@using EstateAdministrationUI.Common
@inject IConfigurationService Configuration

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Estate/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="form-group">
            <label for="ComparisonDateSelect">Select Comparison Date:</label>
            <select class="custom-select" id="ComparisonDateSelect" style="width: 250px"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
            <div id="salesKpi" class="info-box bg-gradient-info">
                <span class="info-box-icon">
                    <i class="fa fa-receipt"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Today's Sales</span>
                    <span class="info-box-number" id="todaysSalesLabel"></span>
                    <span class="info-box-text" id="comparisonDateSalesLabelText"></span>
                    <span class="info-box-number" id="comparisonDateSalesLabel"></span>
                    <span class="info-box-text">Variance</span>
                    <span class="info-box-text" id="salesVarianceLabelText"></span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
            <div id="settlementKpi" class="info-box bg-gradient-info">
                <span class="info-box-icon">
                    <i class="fa fa-money-bill-wave"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Today's Settlement</span>
                    <span class="info-box-number" id="todaysSettlementLabel"></span>
                    <span class="info-box-text" id="comparisonDateSettlementLabelText"></span>
                    <span class="info-box-number" id="comparisonDateSettlementLabel"></span>
                    <span class="info-box-text">Variance</span>
                    <span class="info-box-text" id="settlementVarianceLabelText"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6" id="salesvaluebyhourchart" style="height: 400px"></div>
        <div class="col-6" id="salescountbyhourchart" style="height: 400px"></div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/js/shared.js"></script>

<script language="javascript">

    //google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.load('current', { 'packages': ['line'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawCharts);

    $(document).ready(function () {
        const select = document.getElementById('ComparisonDateSelect');
        select.addEventListener("change", (event) => {                       
            const selectedOption = select.options[select.selectedIndex];

            const selectedText = selectedOption.text;
            const selectedValue = selectedOption.value;

            dateComparisonChanged(selectedValue, selectedText);
        });
        initDatePicker();        
    });

    function dateComparisonChanged(selectedValue, text){               
        getComparisonDateTransactionsAsJson(selectedValue,text)
        
        getTodaysSettlementAsJson();
        getComparisonDateSettlementAsJson(selectedValue, text);

        drawCharts();
    }
    
    function getComparisonDateTransactionsAsJson(comparisonDate, comparisonDateLabel) {
        $.ajax({
            url: '@Url.Action("GetComparisonDateTransactionsAsJson", "Reporting", new { Area = "Estate" })' + "?comparisonDate=" + comparisonDate + "&comparisonDateLabel=" + comparisonDateLabel,
            type: "POST",
            dataType: 'json'
        }).done(function (results) {
            // Today
            const formattedTodaysSalesLabel = new Intl.NumberFormat('en-KE', { style: 'currency', currency: 'KES' }).format(results.todaysValueOfTransactions);
            setInnnerHtml("todaysSalesLabel", formattedTodaysSalesLabel);

            // Comparison Date
            setInnnerHtml("comparisonDateSalesLabelText", results.label);            
            const formattedComparisonDateSalesLabel = new Intl.NumberFormat('en-KE', { style: 'currency', currency: 'KES' }).format(results.comparisonValueOfTransactions);
            setInnnerHtml("comparisonDateSalesLabel", formattedComparisonDateSalesLabel);
            const formattedPercentage = (results.variance).toLocaleString(undefined, {
                style: 'percent',
                minimumFractionDigits: 2,
                maximumFractionDigits: 2,
            });
            setInnnerHtml("salesVarianceLabelText", formattedPercentage);
            setDivClassBasedOnVariance("salesKpi", results.variance)
        });
    }
               
    function getTodaysSettlementAsJson() {
        $.ajax({
            url: '@Url.Action("GetYesterdaysSettlementAsJson", "Home", new { Area = "Estate" })',
            type: "POST",
            dataType: 'json'
        }).done(function (results) {
            //console.log(JSON.stringify(results));
            const formattedCurrency = new Intl.NumberFormat('en-KE', { style: 'currency', currency: 'KES' }).format(results.valueOfSettlement);
            setInnnerHtml("todaysSettlementLabel", formattedCurrency);
        });
    }
    
    function getComparisonDateSettlementAsJson(comparisonDate, comparisonDateLabel) {
        $.ajax({
            url: '@Url.Action("GetComparisonDateSettlementAsJson", "Home", new { Area = "Estate" })' + "?comparisonDate=" + comparisonDate + "&comparisonDateLabel=" + comparisonDateLabel,
            type: "POST",
            dataType: 'json'
        }).done(function (results) {
            // Today
            const formattedTodaysSettlementLabel = new Intl.NumberFormat('en-KE', { style: 'currency', currency: 'KES' }).format(results.todaysValueOfSettlement);
            setInnnerHtml("todaysSettlementLabel", formattedTodaysSettlementLabel);

            // Comparison Date
            setInnnerHtml("comparisonDateSettlementLabelText", results.label);
            const formattedComparisonDateSettlementLabel = new Intl.NumberFormat('en-KE', { style: 'currency', currency: 'KES' }).format(results.comparisonValueOfSettlement);
            setInnnerHtml("comparisonDateSettlementLabel", formattedComparisonDateSettlementLabel);
            const formattedPercentage = (results.variance).toLocaleString(undefined, {
                style: 'percent',
                minimumFractionDigits: 2,
                maximumFractionDigits: 2,
            });
            setInnnerHtml("settlementVarianceLabelText", formattedPercentage);
            setDivClassBasedOnVariance("settlementKpi", results.variance, false)
        });
    }      

    function initDatePicker() {
        console.log('here');
        const select = document.getElementById('ComparisonDateSelect');
        $.ajax({
            url: '@Url.Action("GetComparisonDatesAsJson", "Home", new { Area = "Estate" })',
            type: "POST",
            dataType: 'json'
        }).done(function (results) {  
            console.log('here1');
            results.forEach(function (dateOption) {
                const newOption = document.createElement('option');
                newOption.value = dateOption.item1; // This will be a date
                newOption.text = dateOption.item2;

                select.appendChild(newOption);                
            });    
            select.selectedIndex = 0;
            const changeEvent = new Event("change");
            select.dispatchEvent(changeEvent);
        });        
    }

    function convertJsonToArray(jsonData, type) {
        var data = JSON.parse(jsonData);
        var dataArray = [];

        //console.log(type);
        // TODO: Factory method
        if (type === 1) 
        {
            // sales value
            dataArray = translateSalesValueByHour(data);
        }
        else{
            // sales count
            dataArray = translateSalesCountByHour(data);
        }

        return google.visualization.arrayToDataTable(dataArray);
    }

    function drawCharts(){
        // Get the comparison date
        var comparisonDateSelect = document.getElementById("ComparisonDateSelect");;
        const selectedOption = comparisonDateSelect.options[comparisonDateSelect.selectedIndex];

        const comparisonDateLabel = selectedOption.text;
        const comparisonDate = selectedOption.value;
                
        drawSalesValueByHourChart(comparisonDate, comparisonDateLabel);
        drawSalesCountByHourChart(comparisonDate, comparisonDateLabel);
    }

    function drawSalesValueByHourChart(comparisonDate, comparisonDateLabel) {
        var salesValueByHourJsonData = $.ajax({
            url: '@Url.Action("GetSalesValueByHourAsJson", "Home", new { Area = "Estate" })' + "?comparisonDate=" + comparisonDate,
            dataType: "json",
            type: "POST",
            async: false
        }).responseText;

        // Convert JSON value to google format array
        var valueByHourData = convertJsonToArray(salesValueByHourJsonData, 1);

        var options = setupChartOptions('Sales Value Comparison - Today vs ' + comparisonDateLabel, 'Hour');

        if (valueByHourData.getNumberOfRows() > 0) {
            var chart = new google.charts.Line(document.getElementById('salesvaluebyhourchart'));
            chart.draw(valueByHourData, google.charts.Line.convertOptions(options));
        }
        else {
            $("#salesvaluebyhourchart").empty();
            $("#salesvaluebyhourchart").append("Sorry, not found any data for the selected date range.");
        }
    }

    function drawSalesCountByHourChart(comparisonDate, comparisonDateLabel) {
        var salesValueByCountJsonData = $.ajax({
            url: '@Url.Action("GetSalesCountByHourAsJson", "Home", new { Area = "Estate" })' + "?comparisonDate=" + comparisonDate,
            dataType: "json",
            type: "POST",
            async: false
        }).responseText;

        //console.log(salesValueByHourJsonData);

        // Convert JSON value to google format array
        var countByHourData = convertJsonToArray(salesValueByCountJsonData, 2);
        var options = setupChartOptions('Sales Count Comparison - Today vs ' + comparisonDateLabel, 'Hour');

        if (countByHourData.getNumberOfRows() > 0) {
            var chart = new google.charts.Line(document.getElementById('salescountbyhourchart'));
            chart.draw(countByHourData, google.charts.Line.convertOptions(options));
        }
        else {
            $("#salescountbyhourchart").empty();
            $("#salescountbyhourchart").append("Sorry, not found any data for the selected date range.");
        }
    }

    function setupChartOptions(chartTitle, hAxisTitle) {
         var options = {
           title: chartTitle,
           //curveType: 'function',
           legend: { position: 'bottom' },
           hAxis: { 
                title: hAxisTitle,
                maxValue: 24
           },                                  
            colors: getChartColors(),
            animation: {
                startup: true,
                duration: 1000,
                easing: 'out'
            },
         };

        return options;
    }

    Date.prototype.yyyymmdd = function () {
        var yyyy = this.getFullYear();
        var mm = this.getMonth() < 9 ? "0" + (this.getMonth() + 1) : (this.getMonth() + 1); // getMonth() is zero-based
        var dd = this.getDate() < 10 ? "0" + this.getDate() : this.getDate();

        return "".concat(yyyy).concat('-').concat(mm).concat('-').concat(dd);
    };
</script>