@using EstateAdministrationUI.Common
@inject IConfigurationService Configuration

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Estate/Views/Shared/_Layout.cshtml";
}

@* <label asp-for="OperatorId" class="control-label">Operator</label>
<select asp-for="OperatorId" id="operatorList" class="form-control" required>
    <option value="" disabled selected>Select an Operator</option>
</select> *@

<div class="container-fluid">
    <div class="row">
        <div class="form-group">
            <label for="ComparisonDateSelect" class="control-label">Select Comparison Date:</label>
            <select class="custom-select" id="ComparisonDateSelect" style="width: 250px"></select>
        </div>
        <div class="form-group">
            <label for="MerchantSelect" class="control-label">Select Merchant:</label>
            <select class="custom-select" id="MerchantSelect" style="width: 250px">
                <option value="" disabled selected>Select a Merchant</option>
            </select>
        </div>
        <div class="form-group">
            <label for="OperatorSelect" class="control-label">Select Operator:</label>
            <select class="custom-select" id="OperatorSelect" style="width: 250px">
                <option value="" disabled selected>Select an Operator</option>
            </select>
        </div>
        <div class="form-group">
            <a class="btn btn-primary btn-circle btn-sm" onclick="resetSelectLists()">Reset Filters</a>

        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
            <div id="salesKpi" class="info-box bg-gradient-info">
                <span class="info-box-icon">
                    <i class="fa fa-receipt"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Today's Sales</span>
                    <span class="info-box-number" id="todaysSalesLabel"></span>
                    <span class="info-box-text" id="comparisonDateSalesLabelText"></span>
                    <span class="info-box-number" id="comparisonDateSalesLabel"></span>
                    <span class="info-box-text">Variance</span>
                    <span class="info-box-text" id="salesVarianceLabelText"></span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
            <div id="settlementKpi" class="info-box bg-gradient-info">
                <span class="info-box-icon">
                    <i class="fa fa-money-bill-wave"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Today's Settlement</span>
                    <span class="info-box-number" id="todaysSettlementLabel"></span>
                    <span class="info-box-text" id="comparisonDateSettlementLabelText"></span>
                    <span class="info-box-number" id="comparisonDateSettlementLabel"></span>
                    <span class="info-box-text">Variance</span>
                    <span class="info-box-text" id="settlementVarianceLabelText"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6" id="salesvaluebyhourchart" style="height: 400px"></div>
        <div class="col-6" id="salescountbyhourchart" style="height: 400px"></div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/js/shared.js"></script>
<script src="~/js/resulthandlers.js"></script>

<script language="javascript">

    google.charts.load('current', { 'packages': ['line'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawCharts);

    $(document).ready(function () {
        const dateselect = document.getElementById('ComparisonDateSelect');
        var dateSelectedText;
        var dateSelectedValue;
        var merchantSelectedText;
        var merchantSelectedValue;
        var operatorSelectedText;
        var operatorSelectedValue;

        dateselect.addEventListener("change", (event) => {
            const selectedOption = dateselect.options[dateselect.selectedIndex];

            if (selectedOption !== undefined) {
                dateSelectedText = selectedOption.text;
                dateSelectedValue = selectedOption.value;

                getData(dateSelectedValue, dateSelectedText, merchantSelectedValue, merchantSelectedText);
            }
        });

        const merchantselect = document.getElementById('MerchantSelect');
        merchantselect.addEventListener("change", (event) => {
            const selectedOption = merchantselect.options[merchantselect.selectedIndex];

            if (selectedOption !== undefined) {
                merchantSelectedText = selectedOption.text;
                merchantSelectedValue = selectedOption.value;

                getData(dateSelectedValue, dateSelectedText, merchantSelectedValue, merchantSelectedText);
            }
        });

        const operatorselect = document.getElementById('OperatorSelect');
        operatorselect.addEventListener("change", (event) => {
            const selectedOption = operatorselect.options[operatorselect.selectedIndex];

            if (selectedOption !== undefined) {
                operatorSelectedText = selectedOption.text;
                operatorSelectedValue = selectedOption.value;

                getData(dateSelectedValue, dateSelectedText, merchantSelectedValue, merchantSelectedText, operatorSelectedText, operatorSelectedValue);
            }
        });

        // Do the query here

        initDatePicker();    
        initMerchantList();
        initOperatorList();
    });

    function getData(dateSelectedValue, dateSelectedText, merchantSelectedValue, merchantSelectedText, operatorSelectedText, operatorSelectedValue) {
        getComparisonDateTransactionsAsJson(dateSelectedValue, dateSelectedText, merchantSelectedValue, merchantSelectedText, operatorSelectedText, operatorSelectedValue)
                
        getComparisonDateSettlementAsJson(dateSelectedValue, dateSelectedText, merchantSelectedValue, merchantSelectedText, operatorSelectedText, operatorSelectedValue);

        drawCharts(dateSelectedValue, dateSelectedText, merchantSelectedValue, merchantSelectedText, operatorSelectedText, operatorSelectedValue);
    }            
    
    function getComparisonDateTransactionsAsJson(dateSelectedValue, dateSelectedText, merchantSelectedValue, merchantSelectedText, operatorSelectedText, operatorSelectedValue) {
        var url = '@Url.Action("GetComparisonDateTransactionsAsJson", "Reporting", new { Area = "Estate" })' + "?comparisonDate=" + dateSelectedValue + "&comparisonDateLabel=" + dateSelectedText + "&merchantId=" + merchantSelectedValue + "&operatorId=" + operatorSelectedValue;
        // make the http call
        makeHttpPOSTWithHandler(url, comparisonDateTransactionsResultHandler);
    }

    function getComparisonDateSettlementAsJson(dateSelectedValue, dateSelectedText, merchantSelectedValue, merchantSelectedText, operatorSelectedText, operatorSelectedValue) {
        var url = '@Url.Action("GetComparisonDateSettlementAsJson", "Reporting", new { Area = "Estate" })' + "?comparisonDate=" + dateSelectedValue + "&comparisonDateLabel=" + dateSelectedText + "&merchantId=" + merchantSelectedValue + "&operatorId=" + operatorSelectedValue;
        makeHttpPOSTWithHandler(url, comparisonDateSettlementResultHandler);
    }

    function initDatePicker() {
        const select = document.getElementById('ComparisonDateSelect');
        $.ajax({
            url: '@Url.Action("GetComparisonDatesAsJson", "Reporting", new { Area = "Estate" })',
            type: "POST",
            dataType: 'json'
        }).done(function (results) {  
            results.forEach(function (dateOption) {
                const newOption = document.createElement('option');
                newOption.value = dateOption.item1; // This will be a date
                newOption.text = dateOption.item2;

                select.appendChild(newOption);                
            });    
            select.selectedIndex = 0;
            const changeEvent = new Event("change");
            select.dispatchEvent(changeEvent);
        });        
    }

    function initMerchantList() {
        const select = document.getElementById('MerchantSelect');
        $.ajax({
            url: '@Url.Action("GetMerchantListAsJson", "Reporting", new { Area = "Estate" })',
            type: "POST",
            dataType: 'json'
        }).done(function (results) {
            results.forEach(function (dateOption) {
                const newOption = document.createElement('option');
                newOption.value = dateOption.item1; // This will be a date
                newOption.text = dateOption.item2;

                select.appendChild(newOption);
            });
            select.selectedIndex = 0;
            const changeEvent = new Event("change");
            select.dispatchEvent(changeEvent);
        });
    }

    function initOperatorList() {
        const select = document.getElementById('OperatorSelect');
        $.ajax({
            url: '@Url.Action("GetOperatorListAsJson", "Reporting", new { Area = "Estate" })',
            type: "POST",
            dataType: 'json'
        }).done(function (results) {
            results.forEach(function (dateOption) {
                const newOption = document.createElement('option');
                newOption.value = dateOption.item1; // This will be a date
                newOption.text = dateOption.item2;

                select.appendChild(newOption);
            });
            select.selectedIndex = 0;
            const changeEvent = new Event("change");
            select.dispatchEvent(changeEvent);
        });
    }

    function convertJsonToArray(jsonData, type) {
        var data = JSON.parse(jsonData);
        
        var dataArray = [];

        // TODO: Factory method
        if (type === 1) 
        {
            // sales value
            dataArray = translateSalesValueByHour(data);
        }
        else{
            // sales count
            dataArray = translateSalesCountByHour(data);
        }

        return google.visualization.arrayToDataTable(dataArray);
    }

    function drawCharts(dateSelectedValue, dateSelectedText, merchantSelectedValue, merchantSelectedText, operatorSelectedText, operatorSelectedValue) {
        drawSalesValueByHourChart(dateSelectedValue, dateSelectedText, merchantSelectedValue, merchantSelectedText, operatorSelectedText, operatorSelectedValue);
        drawSalesCountByHourChart(dateSelectedValue, dateSelectedText, merchantSelectedValue, merchantSelectedText, operatorSelectedText, operatorSelectedValue);
    }

    function drawSalesValueByHourChart(dateSelectedValue, dateSelectedText, merchantSelectedValue, merchantSelectedText, operatorSelectedText, operatorSelectedValue) {
        var url = '@Url.Action("GetSalesValueByHourAsJson", "Reporting", new { Area = "Estate" })' + "?comparisonDate=" + dateSelectedValue + "&comparisonDateLabel=" + dateSelectedText + "&merchantId=" + merchantSelectedValue + "&operatorId=" + operatorSelectedValue;
        var salesValueByHourJsonData = makeHttpPOST(url);

        var valueByHourData = convertJsonToArray(salesValueByHourJsonData, 1);
        var options = setupChartOptions('Sales Value Comparison - Today vs ' + dateSelectedText, 'Hour');

        drawLineChart(options, valueByHourData, document.getElementById('salesvaluebyhourchart'), "Sorry, not found any data for the selected date range.");
    }

    function drawSalesCountByHourChart(dateSelectedValue, dateSelectedText, merchantSelectedValue, merchantSelectedText, operatorSelectedText, operatorSelectedValue) {
        var url = '@Url.Action("GetSalesCountByHourAsJson", "Reporting", new { Area = "Estate" })' + "?comparisonDate=" + dateSelectedValue + "&comparisonDateLabel=" + dateSelectedText + "&merchantId=" + merchantSelectedValue + "&operatorId=" + operatorSelectedValue;
        var salesCountByHourJsonData = makeHttpPOST(url);

        var countByHourData = convertJsonToArray(salesCountByHourJsonData, 2);
        var options = setupChartOptions('Sales Count Comparison - Today vs ' + dateSelectedText, 'Hour');

        drawLineChart(options, countByHourData, document.getElementById('salescountbyhourchart'), "Sorry, not found any data for the selected date range.");
    }    
    
    function resetSelectLists() {
        const dateselect = document.getElementById('ComparisonDateSelect');
        const merchantselect = document.getElementById('MerchantSelect');
        const operatorselect = document.getElementById('OperatorSelect');

        // Set the default selected index for both select lists
        dateselect.selectedIndex = 0;
        merchantselect.selectedIndex = 0;
        operatorselect.selectedIndex = 0;

        // Manually dispatch the 'change' event for both select lists
        var event = new Event('change');
        dateselect.dispatchEvent(event);
        merchantselect.dispatchEvent(event);
        operatorselect.dispatchEvent(event);
    }

    Date.prototype.yyyymmdd = function () {
        var yyyy = this.getFullYear();
        var mm = this.getMonth() < 9 ? "0" + (this.getMonth() + 1) : (this.getMonth() + 1); // getMonth() is zero-based
        var dd = this.getDate() < 10 ? "0" + this.getDate() : this.getDate();

        return "".concat(yyyy).concat('-').concat(mm).concat('-').concat(dd);
    };
</script>